@font-face {
  font-family: 'Unbounded';
  src:
    url('./Unbounded/Unbounded-Regular.woff') format('woff'),
    url('./Unbounded/Unbounded-Regular.woff2') format('woff2'),
    url('./Unbounded/Unbounded-Regular.ttf') format('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src:
    url('./Unbounded/Unbounded-Medium.woff') format('woff'),
    url('./Unbounded/Unbounded-Medium.woff2') format('woff2'),
    url('./Unbounded/Unbounded-Medium.ttf') format('ttf');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src:
    url('./Unbounded/Unbounded-Bold.woff') format('woff'),
    url('./Unbounded/Unbounded-Bold.woff2') format('woff2'),
    url('./Unbounded/Unbounded-Bold.ttf') format('ttf');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
